@*1. Dichiarare una variabile valorizzandola con il nostro nome.
Dichiarare un'altra variabile valorizzandola con il nostro cognome.
Stampare il nostro nome e cognome all'interno di un tag h2.*@

@{
    string nome = "Nicholas";
    string cognome = "Marcaccini";
}

<h2>@nome @cognome</h2>


@*2. Creare una funzione che stampa la somma dei numeri che vanno da 1 a n (con n passato come parametro - n incluso)
Stampare dentro uno span il risultato.*@

@{
    int Somma(int n)
    {
        int somma = 0;
        for(int i = 1; i <= n; i++)
        {
            somma += i;
        }

        return somma;
    }
}

<span>La somma dei numeri è: @Somma(5)</span>


@*3. Contare quante volte la lettera a è presente nalla frase "nel mezzo del cammin di nostra vita" e stampare questo valore in pagina*@

